@model BankQ1Investment.Models.ClientBasicInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClientBasicInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Current_Investment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Current_Investment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Customer_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
